@model IEnumerable<OnlineShoppingCart_WebApp_MVC.Models.UserViewProductsModel>

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br />
<h4>UserHome</h4>
<h1>@ViewBag.alert</h1>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Login", "#"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Price, new { @value = item.Price, @id = "p1" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
              
            </tr>
        }
    }

</table>
<script>
    var x = document.getElementById("p1").value;
    var z = document.getElementById("value1")
    z.value = x;

</script>
