@model IEnumerable<OnlineShoppingCart_WebApp_MVC.Models.UserCart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br />
<h4>Cart</h4>
<h1>@ViewBag.alert</h1>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBillPrice)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBillPrice)
            </td>
        </tr>
    }
 
            
  
</table>
<a href="Order"><input type="submit" value="Proced To Order" class="btn btn-default" /></a> |
<a href="UserAddCart"><input type="submit" value="Add More" class="btn btn-default" /></a> |
<a href="UserDeleteCart"><input type="submit" value="Delete" class="btn btn-default" /></a>
