<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineShopping Cart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online ShoppingCart", "UserHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("View Products", "UserHome")</li>
                    <li>@Html.ActionLink("Search Product", "UserSearchProduct")</li>
                    <li>@Html.ActionLink("Add To Cart", "UserAddCart")</li>
                    <li>@Html.ActionLink("Delete From Cart", "UserDeleteCart")</li>
                    <li>@Html.ActionLink("My Orders", "UserMyOders")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <!--
    <li><span class="glyphicon glyphicon-user"></span></li>--->
                    <li><a href="UserCart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
                    <li><a href="Index"><span class="glyphicon glyphicon-log-out"></span>Log-out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online ShoppingCart</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
